In [3]:
import pandas as pd

In [6]:
diabetes = pd.read_csv("diabetes_prediction_dataset.csv", skiprows=50000)
diabetes

       Female  80.0  0  0.1  No Info  27.32  3.5   90  0.2
0      Female  67.0  0    0  No Info  27.32  4.5   80    0
1      Female  58.0  0    1  No Info  27.32  6.5   90    0
2        Male   2.0  0    0    never  18.41  6.2  100    0
3        Male  26.0  0    0    never  27.32  6.2  100    0
4      Female  61.0  0    0  current  24.07  6.0  160    0
...       ...   ... ..  ...      ...    ...  ...  ...  ...
49995  Female  80.0  0    0  No Info  27.32  6.2   90    0
49996  Female   2.0  0    0  No Info  17.37  6.5  100    0
49997    Male  66.0  0    0   former  27.83  5.7  155    0
49998  Female  24.0  0    0    never  35.42  4.0  100    0
49999  Female  57.0  0    0  current  22.43  6.6   90    0

[50000 rows x 9 columns]

In [7]:
diabetes.to_csv("diabetes_prediction_dataset.csv")